<<<<<<< HEAD
/*
 * === Global style ===
 */

/* Global style */
body {
            margin: 0;
            padding: 0;
=======
body {
    margin: 0;
    padding: 0;
>>>>>>> 5a75ddb206118e0b4766c25c00a04f97f74d63f2
}
