<<<<<<< HEAD
/*
 * === Footer style ===
 */

/* Footer style */
footer {
            text-align: center;
            background-color: #0f0;
            height: 60px;
            width: 100%;
            bottom: 0;
            justify-content: center;
            position: absolute;
            align-items: center;
            display: flex;
=======
footer {
    background-color: #00ff00;
    height: 60px;
    width: 100%;
    bottom: 0;
    position: fixed;
    display: flex;
    justify-content: center;
    line-height: 60px;
>>>>>>> 5a75ddb206118e0b4766c25c00a04f97f74d63f2
}
