<<<<<<< HEAD
/*
 * === Header style ===
 */

/* Header style */
header {
            background-color: #f00;
            height: 70px;
            width: 100%;
=======
header {
    background-color: #ff0000;
    height: 70px;
    width: 100%;
>>>>>>> 5a75ddb206118e0b4766c25c00a04f97f74d63f2
}
