<<<<<<< HEAD
/*
 * === Footer style ===
 */
/* Footer style */
footer {
            border-top: 1px solid #CCCCCC;
            text-align: center;
            background-color: #ffffff;
            height: 60px;
            width: 100%;
            bottom: 0;
            justify-content: center;
            position: relative;
            align-items: center;
            display: flex;
=======
footer {
    background-color: white;
    height: 60px;
    width: 100%;
    bottom: 0;
    position: fixed;
    display: flex;
    justify-content: center;
    line-height: 60px;
    border-top: 1px solid #CCCCCC;
>>>>>>> 5a75ddb206118e0b4766c25c00a04f97f74d63f2
}
